<div class="dialog-container">

<mat-dialog-content class="flex-dialog-content">

  <div
    *ngIf="!clubButtonClicked"  
    class="selector-buttons">
    <button
      mat-raised-button
      color="accent"
      id="target-button"
      (click)="toggleDivisionSelector()"
    >
      Club Team
    </button>

    <button
      mat-raised-button
      color="accent"
      id="target-button"
      (click)="onCountrySelected()"
    >
      Country
    </button>
  </div>

  <div 
    *ngIf="clubButtonClicked" 
    class="selector-buttons"
  >
    <ng-container *ngFor="let country of topDivisionCountries">
      <button
        mat-raised-button
        color="accent"
        id="target-button"
        (click)="onSelected(country)"
      >
        {{ country }}
      </button>
    </ng-container>
  </div>

  <ng-container>
    <div 
      *ngIf="divisionSelectorOpen; else countryDropdown" 
      class="dropdown-wrapper"
      (click)="openDropdown()"
    >
      <h2 class="dropdown-label">Club Team</h2>
      <mat-select 
        class="custom-select" 
        [(ngModel)]="selectedTeam" 
        #dropdown
      >
        <mat-option *ngFor="let option of divisionTeams" [value]="option">
          {{ option.team.name }}   
        </mat-option>
      </mat-select>
      <div *ngIf="selectedTeam" class="image-container">
        <img [src]="selectedTeam.team.logo" alt="Selected Team Logo">
      </div>
    </div>
    
    <ng-template #countryDropdown>
      <div 
        class="dropdown-wrapper"
        [ngClass]="{'dropdown-hidden': showButtons}"
        (click)="openDropdown()"
      >
        <h2 class="dropdown-label">Country</h2>
        <mat-select 
          class="custom-select" 
          [(ngModel)]="selectedCountry"
          #dropdown
        >
          <mat-option *ngFor="let option of data.countries" [value]="option">
            {{ option.name }}   
          </mat-option>
        </mat-select>
        <div *ngIf="selectedCountry" class="image-container">
          <img
          width="175px"
          [src]="selectedCountry.flag" 
          alt="Selected Country Flag">
        </div>
      </div>
    </ng-template>

  </ng-container>
  
</mat-dialog-content>
<h2 mat-dialog-title>Select A Club team or Nationality</h2>
<mat-dialog-actions align="end">
  <button
    *ngIf="divisionSelectorOpen"
    mat-button
    color="accent"
    (click)="toggleDivisionSelector()"
  >
    <mat-icon color="accent">arrow_back</mat-icon>
    Back
  </button>
  <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSuccess()">Select</button>
</mat-dialog-actions>

</div>
