<div class="dialog-container">

<mat-dialog-content class="flex-dialog-content">

  <div class="selector-buttons">
    <button
      mat-raised-button
      color="accent"
      id="target-button"
      (click)="onSelected('club')"
    >
      Club Team
    </button>

    <button
      mat-raised-button
      color="accent"
      id="target-button"
      (click)="onSelected('country')"
    >
      Country
    </button>
  </div>

  <ng-container>
    <div 
      *ngIf="teamSelected; else countryDropdown" 
      class="dropdown-wrapper"
      (click)="openDropdown()"
    >
      <h2 class="dropdown-label">Club Team</h2>
      <mat-select 
        class="custom-select" 
        [(ngModel)]="selectedTeam" 
        #dropdown
      >
        <mat-option *ngFor="let option of teams[0]" [value]="option">
          {{ option.team.name }}   
        </mat-option>
      </mat-select>
      <div *ngIf="selectedTeam" class="image-container">
        <img [src]="selectedTeam.team.logo" alt="Selected Team Logo">
      </div>
    </div>
    
    <ng-template #countryDropdown>
      <div 
        class="dropdown-wrapper"
        [ngClass]="{'dropdown-hidden': showButtons}"
        (click)="openDropdown()"
      >
        <h2 class="dropdown-label">Country</h2>
        <mat-select 
          class="custom-select" 
          [(ngModel)]="selectedCountry"
          #dropdown
        >
          <mat-option *ngFor="let option of countries" [value]="option">
            {{ option.name }}   
          </mat-option>
        </mat-select>
        <div *ngIf="selectedCountry" class="image-container">
          <img
          width="175px"
          [src]="selectedCountry.flag" 
          alt="Selected Country Flag">
        </div>
      </div>
    </ng-template>

  </ng-container>
  
</mat-dialog-content>
<h2 mat-dialog-title>Select A Club team or Nationality</h2>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSuccess()">Select</button>
</mat-dialog-actions>

</div>
