.dialog-container {
  background-color: lightgray;
}
  
.dropdown {
  &-wrapper {
    cursor: pointer;
    width: 100%;
    flex: 1;
  }
  &-hidden {
    visibility: hidden;
  }
}

.image-container {
  text-align: center;
  height: 150px;
  padding-block-start: 2rem;
}

.flex-dialog-content {
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: 100%;
}

:host ::ng-deep .mat-mdc-select-value {
  text-align: center;
}

#target-button {
  padding: 1.75rem;
}

.selector-buttons {
  height: 25    0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  flex: 1;
}

.mat-mdc-dialog-actions {
  padding: 1.5rem;
}

::ng-deep {
  .mat-mdc-select-arrow {
    color: red;
    font-size: 20px;
    margin-right: 5px;
  }

  .mdc-menu-surface.mat-mdc-select-panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 500px;
    background-color: lightgreen;
  }
}

.dropdown-label {
  text-align: center;
}