<button
  *ngIf="!isPlayingSquare; else playButtons"
  (click)="selectCondition()"
  id="condition-square"
>
<mat-select *ngIf="index !== 0" [(ngModel)]="selectedOption">
  <mat-option *ngFor="let option of options" [value]="option.id">
    {{ option.name }}
  </mat-option>
</mat-select>

</button>
<ng-template #playButtons>
  <button *ngIf="!value">{{ value }}</button>
  <button
    [ngClass]="{ 'blue-square': value === 'X', 'red-square': value === 'O' }"
    *ngIf="value"
  >
    {{ value }}
  </button>
</ng-template>
