<button
  *ngIf="!isPlayingSquare; else playButtons"
  (click)="selectCondition()"
  [ngClass]="{
    'black-square' : index === 0,
    'highlight-square' : (!isPlayingSquare && index !== 0)
  }"
>
  <ng-container *ngIf="selectedCountry">
    <img
      width="175px"
      [src]="selectedCountry.flag"
      alt="Selected Country Flag"
    />
  </ng-container>
  <ng-container *ngIf="selectedTeam">
    <img
      width="175px"
      [src]="selectedTeam.logo"
      alt="Selected Team Logo"
    />
  </ng-container>
</button>

<ng-template #playButtons>
  <ng-container 
    class="button-container"
    *ngIf="!isSearchBoxVisible; else searchBox">
    <button 
      [class]="'search-button-' + index"
      [ngClass]="(isPlayingSquare && !setupComplete) ? 'dark-square' : ''"
      [style.background-color]="setBackGroundColor(index)"
      (click)="(setupComplete) ? toggleSearchBox() : emitConditionMessage(true)"
    >
    <ng-container *ngIf="searchedPlayer">
      <img
        width="175px"
        [src]="searchedPlayer.photo"
        alt="Selected Team Logo"
      />
    </ng-container>
    </button>
  </ng-container>

  <ng-template #searchBox>
    <input
      [class]="'search-input-' + index"
      type="text"
      [(ngModel)]="searchQuery"
      (keydown.enter)="setSearchConditions()"
      (input)="filterPlayers($event)"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setSearchConditions()">
      <mat-option *ngFor="let player of filteredPlayersList" [value]="replaceCharacters(player)">
        {{ capitalizeNames(player) }}
      </mat-option>
    </mat-autocomplete>
  </ng-template>
</ng-template>
