<div class="board-container">
  <div class="board-prompts">
    <button
      mat-raised-button
      color="accent"
      id="new-game-button"
      (click)="newGame()"
    >
      Start new Game
    </button>
  
    <h1 id="message" *ngIf="winner;else currentPlayer">Winner: Player {{ winner }}</h1>
    <ng-template #currentPlayer>
      <h1 id="message">Current Player: {{ player }}</h1>
    </ng-template> 
  </div>

  <main>
    <ng-container *ngFor="let val of squares; let i = index">
        <app-square 
          *ngIf="indexedDisabledSquares.indexOf(i) > -1; else gameBlock"
          [isPlayingSquare]="false"
          [teams]="teams"
          [value]="squaresWithConditions[i]"
          [countries]="countries"
          [index]="i"
          (userSelectedCondition)="(handleSelectedCondition($event, i))"
          >
        </app-square>
        <ng-template #gameBlock>
          <app-square 
            [index]="i" 
            [conditions]="conditionsToMatch"
            (click)="makeMove(i)"
          >
          </app-square>
        </ng-template>
    </ng-container>
  </main>
</div>
