<div class="board-container">
  <div class="board-prompts">
    <button
      mat-raised-button
      color="accent"
      id="new-game-button"
      (click)="newGame()"
    >
      Start new Game
    </button>
  
    <h1 id="message" *ngIf="winner;else currentPlayer">Winner: Player {{ winner }}</h1>
    <ng-template #currentPlayer>
      <h1 id="message">Current Player: {{ player }}</h1>
    </ng-template> 
  </div>

  <main *ngIf="squares">
    <ng-container *ngFor="let val of squares; let i = index">
      <ng-container *ngIf="indexedDisabledSquares.indexOf(i) > -1; else gameBlock">
        <app-square disabled></app-square>
      </ng-container>
        <ng-template #gameBlock>
          <app-square [value]="val" (click)="makeMove(i)"></app-square>
        </ng-template>
    </ng-container>
  </main>
</div>
